#数据库配置
spring:
 datasource:
  url: jdbc:mysql://47.104.144.238:6666/fc?useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true
  username: fc
  password: 123456
  driver-class-name: com.mysql.jdbc.Driver

#配置.xml文件路径
mybatis:
 config-location: classpath:mybatis-config.xml
 mapper-locations: classpath:/mapper/*.xml
 type-aliases-package: com.jianpanmao

server:
 port: 8081

pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql